.unclicked {
    background: #BDC3C7;
}

.clicked {
    background: #ECF0F1;
}

button {
    font-size: 1.5em;
}

table {
    border-collapse: collapse;
}

td {
    border: 1px solid #787e82;
    width: 30px;
    height: 30px;
    text-align: center;
}